<h1>Search People</h1>


<%= form_tag( {}, {:method => 'get'}) do %>
	<p>
		People 
		<%= select_tag("emailNeg",  options_for_select([['using', false], ['not using', true]], {:selected=>params[:emailNeg]}) )%>
		email provider 
		<%= text_field_tag 'email', params[:email] %> AND <br/>
		People 
		<%= select_tag("postcodeNeg",  options_for_select([['registered', false], ['not registered', true]], {:selected=>params[:postcodeNeg]}))%>
		in postcode(s)
		<%= text_field_tag "postcode", params[:postcode] %> (comma separated)
		<br/>
		<%= link_to "Clear Form" %>
		<%= submit_tag "Search", :name => nil %>
	</p>

<% end %>
<table>
  <tr>
  
    <th>Name</th>
    <th>Postcode</th>
	<th>Suburb</th>
    <th>Email</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.postcode.number %></td>
	<td><%= person.postcode.suburb %></td>
    <td><%= person.email %></td>
  </tr>
<% end %>
</table>

<br />


